/* Общие стили */

body {
	margin: 0;
    padding:0;
    background: #fff;
    color:#333;
    font-family: 'Open Sans', Helvetica Neue, sans-serif;
    font-size: 14px;
}
a, button, select, li, i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: none !important;
}
textarea {
    resize: none;
}
img {
    max-width: 100%;
}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
