/* Общие стили */

body {
	margin: 0;
    padding:15px;
    background: #fff;
    color:#333;
    font-family: 'Open Sans', Helvetica Neue, sans-serif;
    font-size: 14px;
}
a, button, select, li, i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: none !important;
}
textarea {
    resize: none;
}
img {
    max-width: 100%;
}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

/* Меню */

nav {
    margin: 0 0 30px;
}
nav ul {
    padding-left: 0;
    margin: 0;
    background: #eee;
}
nav li {
    display: inline-block;
    text-align: center;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 15px;
}
.menu-toggle {
    display: none;
    text-align: center;
    padding: 15px;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 7px 17px -2px #eee;
}

@media (max-width:768px) {
    nav li {
        display: block;
        border-bottom: 1px solid #fff
    }
    .menu-toggle  {
        display: block;
    }
    nav ul {
        display: none;
    }
}

/* Аккордеон */

.accordeon .block-title {
    background: #eee;
    padding: 15px;
    margin: 0 0 15px;
    cursor: pointer;
}
.accordeon article {
    padding-bottom: 15px;
}

/* Вкладки */

.tab-wrapper {
    margin-bottom: 30px;
}
.tab-wrapper ul {
    padding-left: 0;
    margin: 0 0 15px;
}
.tab-wrapper li {
    display: inline-block;
    background: #eee;
    padding: 15px;
    cursor: pointer;
}
.tab-menu li.active {
    background: #fff;
}

/* Слайдер */

#slider-wrapper {
    margin: 0 0 30px;
    height: 100px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
}
.slides {
    padding-left: 0;
    margin: 0 0 15px;
    list-style-type: none;
    height: 100%;
    position: relative;
}
.slides li {
    float: left;
    height: 100%;
    line-height: 100px;
    text-align: center;
}
.buttons {
    padding-left: 0;
    text-align: center;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    margin: 0;
}
.buttons li {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    background: #ddd;
}

/* Подсказки */

.button {
    background: #eee;
    padding: 15px;
    cursor: pointer;
    overflow: visible;
    display: inline-block;
    font-size: 16px;
}
.tooltip {
    position: fixed;
    display: none;
    padding: 5px 8px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,0.8);
}